html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body .container {
  max-width: 1300px;
}

.nav-container {
  width: 100%;
  height: 70px;
}

.nav-container .navbar {
  width: 1300px;
  height: 100%;
  margin: auto;
  position: relative;
  top: 0;
}

.nav-container .navbar-light .navbar-toggler-icon {
  background-image: url("../../img/mobile-menu.png") !important;
}

.nav-container .navbar-brand {
  margin-left: 54px;
  margin-top: 4px;
  margin-right: 31px;
}

.header-container {
  width: 100%;
  height: 750px;
  background-image: url("../../img/main.png");
  background-size: cover;
}

.header-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
  color: white;
  padding-top: 262px;
}

.header-container .container h1 {
  margin-bottom: 27px;
}

.header-container .container .btn-talk {
  width: 125px;
  height: 40px;
  color: #fff;
  margin-top: 39px;
  border: 1px solid #ffffff;
  border-radius: 50px;
}

.header-container .container .btn-talk:hover {
  background: #747474;
  border: 1px solid #747474;
}

.service-container {
  width: 100%;
  height: 580px;
  background-color: #f5f5f5;
}

.service-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

.service-container .container .s-main-h1 {
  margin-top: 20px;
}

.service-container .container .s-main-p {
  margin: 0px;
}

.service-container .container .s-main-p span {
  display: inline-block;
  margin-top: -15px;
  width: 41px;
  height: 2px;
  background-color: black;
}

.service-container .container .row:nth-child(4) {
  width: 95%;
  margin-top: 53px !important;
  margin: auto;
  color: #29323c;
}

.service-container .container .row:nth-child(4) .card-header {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
}

.service-container .container .row:nth-child(4) .card1-img {
  background-image: url("../../img/svz_1.png");
  background-position: cover;
}

.service-container .container .row:nth-child(4) .card2-img {
  background-image: url("../../img/svz_2.png");
  background-position: cover;
}

.service-container .container .row:nth-child(4) .card3-img {
  background-image: url("../../img/svz_3.png");
  background-position: cover;
}

.service-container .container .row:nth-child(4) .card4-img {
  background-image: url("../../img/svz_4.png");
  background-position: cover;
}

.works-container {
  width: 100%;
  height: 827px;
  background-color: #ffffff;
}

.works-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

.works-container .container .s-main-h1 {
  margin-top: 20px;
}

.works-container .container .s-main-p {
  margin: 0px;
}

.works-container .container .s-main-p span {
  display: inline-block;
  margin-top: -15px;
  width: 41px;
  height: 2px;
  background-color: black;
}

.works-container .container .row:nth-child(4) {
  width: 100%;
  margin-top: 57px;
}

.works-container .container .row:nth-child(4) .col-md-2 {
  max-width: 260px;
  width: 20%;
  height: 200px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.works-container .container .row:nth-child(4) .work-c-1 {
  background-image: url("../../img/work_1.png");
}

.works-container .container .row:nth-child(4) .work-c-2 {
  background-image: url("../../img/work_2.png");
}

.works-container .container .row:nth-child(4) .work-c-3 {
  background-image: url("../../img/work_3.png");
}

.works-container .container .row:nth-child(4) .work-c-4 {
  background-image: url("../../img/work_4.png");
}

.works-container .container .row:nth-child(4) .work-c-5 {
  background-image: url("../../img/work_5.png");
}

.works-container .container .row:nth-child(4) .work-c-6 {
  background-image: url("../../img/work_6.png");
}

.works-container .container .row:nth-child(4) .work-c-7 {
  background-image: url("../../img/work_7.png");
}

.works-container .container .row:nth-child(4) .work-c-8 {
  background-image: url("../../img/work_8.png");
}

.works-container .container .row:nth-child(4) .work-c-9 {
  background-image: url("../../img/work_9.png");
}

.works-container .container .row:nth-child(4) .work-c-10 {
  background-image: url("../../img/work_10.png");
}

.works-container .container .row:nth-child(4) .work-c-11 {
  background-image: url("../../img/work_11.png");
}

.works-container .container .row:nth-child(4) .work-c-12 {
  background-image: url("../../img/work_12.png");
}

.works-container .container .row:nth-child(4) .work-c-13 {
  background-image: url("../../img/work_13.png");
}

.works-container .container .row:nth-child(4) .work-c-14 {
  background-image: url("../../img/work_14.png");
}

.works-container .container .row:nth-child(4) .work-c-15 {
  background-image: url("../../img/work_15.png");
}

.h-clients-container {
  width: 100%;
  height: 623px;
  background-color: #fff;
}

.h-clients-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
  color: white;
  padding-top: 72px;
}

.h-clients-container .container .s-main-h1 {
  margin-top: 20px;
}

.h-clients-container .container .s-main-p {
  margin: 0px;
}

.h-clients-container .container .s-main-p span {
  display: inline-block;
  margin-top: -15px;
  width: 41px;
  height: 2px;
  background-color: black;
}

.h-clients-container .container .slider {
  margin-top: 40px;
  background-color: red;
}

.h-clients-container .container .slider .card {
  background-color: yellow;
  color: #29323c;
  height: 290px;
}

.h-clients-container .container .slider .card p {
  text-align: center;
}

.h-clients-container .container .slider .card .s-dev-img {
  width: 65px;
  height: 65px;
  margin: auto;
  border-radius: 50%;
  background-image: url("../../img/s-dev.png");
}

.team-container {
  width: 100%;
  height: 899px;
  background-image: url("../../img/team-background.png");
  background-size: cover;
}

.team-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
  color: white;
  padding-top: 72px;
}

.team-container .container .s-main-h1 {
  margin-top: 20px;
  color: white;
}

.team-container .container .s-main-p {
  margin: 0px;
  color: white;
}

.team-container .container .s-main-p span {
  display: inline-block;
  margin-top: -15px;
  width: 41px;
  height: 2px;
  background-color: white;
}

.team-container .container .card {
  color: black;
}

.team-container .container .btn-fTeam {
  width: 250px;
  height: 40px;
  color: #fff;
  margin-top: 39px;
  border: 1px solid #ffffff;
  border-radius: 50px;
}

.team-container .container .btn-fTeam:hover {
  background: #747474;
  border: 1px solid #747474;
}

.logo-container {
  width: 100%;
  height: 140px;
  background-color: #f5f5f5;
}

.logo-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
}

.logo-container .container .col-md-2 {
  max-width: 260px;
  width: 20%;
  height: 50px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.logo-container .container .logo-1 {
  background-image: url("../../img/coca-cola.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-container .container .logo-2 {
  background-image: url("../../img/dropbox.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-container .container .logo-3 {
  background-image: url("../../img/intel.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-container .container .logo-4 {
  background-image: url("../../img/zendesk.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-container .container .logo-5 {
  background-image: url("../../img/nokia.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.pricing-container {
  width: 100%;
  height: 913px;
  background-color: yellow;
}

.pricing-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
  color: black;
  padding-top: 80px;
}

.pricing-container .container .s-main-h1 {
  margin-top: 20px;
  color: black;
}

.pricing-container .container .s-main-p {
  margin: 0px;
  color: black;
}

.pricing-container .container .s-main-p span {
  display: inline-block;
  margin-top: -15px;
  width: 41px;
  height: 2px;
  background-color: black;
}

.contact-container {
  width: 100%;
  height: 650px;
}

.contact-container .container {
  width: 1300px;
  height: 100%;
  margin: auto;
  background-color: red;
}

.contact-container .container .col-md-6 {
  width: 100%;
  height: 650px;
}
/*# sourceMappingURL=main.css.map */