html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body .container {
  max-width: 1300px;
}

.nav-container {
  width: 100%;
  height: 92px;
}

.nav-container .navbar {
  width: 1300px;
  height: 100%;
  margin: auto;
  position: relative;
  top: 0;
}

.nav-container .navbar-toggler-icon {
  width: 20px;
  height: 17px;
  margin-right: 50px;
  margin-left: 18px;
  background-image: url("../../img/nav_icon.png") !important;
}

.nav-container .navbar-brand {
  margin-left: 70px;
  margin-top: 4px;
  margin-right: 31px;
}

.nav-container .nav-item {
  text-align: center;
}

.nav-container #overlay {
  width: 100%;
  position: relative;
  top: -410px;
  background-color: black;
  opacity: 0.8;
  display: none;
  z-index: -1;
}

.header-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../img/main.png");
  background-size: cover;
}

.header-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
  color: white;
  padding-top: 30vh;
}

.header-container .container h1 {
  margin-bottom: 27px;
}

.header-container .container .btn-talk {
  width: 125px;
  height: 40px;
  color: #fff;
  margin-top: 39px;
  border: 1px solid #ffffff;
  border-radius: 50px;
}

.header-container .container .btn-talk:hover {
  background: #ffffff;
  color: #29323c;
}

.header-container .container .row:nth-child(4) {
  margin-top: 20vh;
}

.header-container .container .arrow {
  width: 40px;
  height: 40px;
  margin: auto;
  padding-top: 7px;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
}

.service-container {
  width: 100%;
  height: 580px;
  background-color: #f5f5f5;
}

.service-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

.service-container .container .s-main-h1 {
  margin-top: 20px;
}

.service-container .container .s-main-p {
  margin: 0px;
}

.service-container .container .s-main-p span {
  display: inline-block;
  margin-top: -15px;
  width: 41px;
  height: 2px;
  background-color: black;
}

.service-container .container .row:nth-child(4) {
  width: 95%;
  margin-top: 53px !important;
  margin: auto;
  color: #29323c;
}

.service-container .container .row:nth-child(4) .card {
  border: none;
  background-color: #f5f5f5;
}

.service-container .container .row:nth-child(4) .card-header {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
}

.service-container .container .row:nth-child(4) .card-body {
  margin-top: 15px;
}

.service-container .container .row:nth-child(4) .card1-img {
  background-image: url("../../img/svz_1.png");
  background-position: cover;
}

.service-container .container .row:nth-child(4) .card2-img {
  background-image: url("../../img/svz_2.png");
  background-position: cover;
}

.service-container .container .row:nth-child(4) .card3-img {
  background-image: url("../../img/svz_3.png");
  background-position: cover;
}

.service-container .container .row:nth-child(4) .card4-img {
  background-image: url("../../img/svz_4.png");
  background-position: cover;
}

.works-container {
  width: 100%;
  height: 827px;
  background-color: #ffffff;
}

.works-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

.works-container .container .s-main-h1 {
  margin-top: 20px;
}

.works-container .container .s-main-p {
  margin: 0px;
}

.works-container .container .s-main-p span {
  display: inline-block;
  margin-top: -15px;
  width: 41px;
  height: 2px;
  background-color: black;
}

.works-container .container .row:nth-child(4) {
  width: 100%;
  margin-top: 57px;
}

.works-container .container .row:nth-child(4) .col-md-2 {
  max-width: 260px;
  width: 20%;
  height: 200px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.works-container .container .row:nth-child(4) .col-md-2 div {
  width: 100%;
  height: 100%;
  background-color: #29323c;
  opacity: 0.9;
  display: none;
  padding-top: 20%;
  color: #ffffff;
}

.works-container .container .row:nth-child(4) .work-c-1 {
  background-image: url("../../img/work_1.png");
}

.works-container .container .row:nth-child(4) .work-c-1:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-2 {
  background-image: url("../../img/work_2.png");
}

.works-container .container .row:nth-child(4) .work-c-2:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-3 {
  background-image: url("../../img/work_3.png");
}

.works-container .container .row:nth-child(4) .work-c-3:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-4 {
  background-image: url("../../img/work_4.png");
}

.works-container .container .row:nth-child(4) .work-c-4:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-5 {
  background-image: url("../../img/work_5.png");
}

.works-container .container .row:nth-child(4) .work-c-5:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-6 {
  background-image: url("../../img/work_6.png");
}

.works-container .container .row:nth-child(4) .work-c-6:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-7 {
  background-image: url("../../img/work_7.png");
}

.works-container .container .row:nth-child(4) .work-c-7:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-8 {
  background-image: url("../../img/work_8.png");
}

.works-container .container .row:nth-child(4) .work-c-8:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-9 {
  background-image: url("../../img/work_9.png");
}

.works-container .container .row:nth-child(4) .work-c-9:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-10 {
  background-image: url("../../img/work_10.png");
}

.works-container .container .row:nth-child(4) .work-c-10:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-11 {
  background-image: url("../../img/work_11.png");
}

.works-container .container .row:nth-child(4) .work-c-11:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-12 {
  background-image: url("../../img/work_12.png");
}

.works-container .container .row:nth-child(4) .work-c-12:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-13 {
  background-image: url("../../img/work_13.png");
}

.works-container .container .row:nth-child(4) .work-c-13:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-14 {
  background-image: url("../../img/work_14.png");
}

.works-container .container .row:nth-child(4) .work-c-14:hover div {
  display: block;
}

.works-container .container .row:nth-child(4) .work-c-15 {
  background-image: url("../../img/work_15.png");
}

.works-container .container .row:nth-child(4) .work-c-15:hover div {
  display: block;
}

.h-clients-container {
  width: 100%;
  height: 623px;
  background-color: #fff;
}

.h-clients-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
  color: white;
  padding-top: 72px;
}

.h-clients-container .container .s-main-h1 {
  margin-top: 20px;
}

.h-clients-container .container .s-main-p {
  margin: 0px;
}

.h-clients-container .container .s-main-p span {
  display: inline-block;
  margin-top: -15px;
  width: 41px;
  height: 2px;
  background-color: black;
}

.h-clients-container .container .slider {
  margin-top: 40px;
}

.h-clients-container .container .slider .card {
  color: #2b3746;
  height: 290px;
  padding: 10px 45px 10px 45px;
  border: none;
}

.h-clients-container .container .slider .card p {
  text-align: center;
}

.h-clients-container .container .slider .card .s-dev-img {
  width: 65px;
  height: 65px;
  margin: auto;
  border-radius: 50%;
  background-image: url("../../img/s-dev.png");
}

.h-clients-container .container .slider .card .comma {
  color: #2b3746;
  margin-top: -10px;
  margin-bottom: 0px;
}

.h-clients-container .container .slider .card h6 {
  margin-top: 11px;
}

.h-clients-container .container .slider .card .job-title {
  margin-top: -10px;
}

.team-container {
  width: 100%;
  height: 899px;
  background-image: url("../../img/team-background.png");
  background-size: cover;
}

.team-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
  color: white;
  padding-top: 72px;
}

.team-container .container .s-main-h1 {
  margin-top: 20px;
  color: white;
}

.team-container .container .s-main-p {
  margin: 0px;
  color: white;
}

.team-container .container .s-main-p span {
  display: inline-block;
  margin-top: -15px;
  width: 41px;
  height: 2px;
  background-color: white;
}

.team-container .container .row:nth-child(4) {
  width: 95%;
  margin-top: 80px !important;
  margin-bottom: 55px !important;
  margin: auto;
}

.team-container .container .card {
  color: black;
  height: 415px;
  border: none;
}

.team-container .container .btn-fTeam {
  width: 200px;
  height: 40px;
  margin-top: 39px;
  border: 1px solid #ffffff;
  border-radius: 50px;
}

.team-container .container .btn-fTeam:hover {
  background: #ffffff;
  color: #29323c;
}

.team-container .container h4 {
  margin-top: -5px;
}

.logo-container {
  width: 100%;
  height: 150px;
  background-color: #f5f5f5;
}

.logo-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
}

.logo-container .container .col-md-12 {
  margin-top: 35px !important;
  width: 90%;
  margin: auto;
}

.logo-container .container .col-md-2 {
  max-width: 260px;
  width: 20%;
  height: 80px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.logo-container .container .logo-1 {
  width: 200px;
  height: 80px;
  margin-left: 65px;
  background-image: url("../../img/logo1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-container .container .logo-2 {
  width: 200px;
  height: 80px;
  margin-left: 40px;
  background-image: url("../../img/logo2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-container .container .logo-3 {
  width: 200px;
  height: 80px;
  margin-left: 15px;
  background-image: url("../../img/logo3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-container .container .logo-4 {
  width: 200px;
  height: 80px;
  margin-left: -12px;
  margin-top: -5px;
  background-image: url("../../img/logo4.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-container .container .logo-5 {
  width: 200px;
  height: 80px;
  margin-left: -38px;
  background-image: url("../../img/logo5.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.pricing-container {
  width: 100%;
  height: 913px;
}

.pricing-container .container {
  width: 1300px;
  margin: auto;
  text-align: center;
  color: black;
  padding-top: 75px;
}

.pricing-container .container .s-main-h1 {
  margin-top: 20px;
  color: black;
}

.pricing-container .container .s-main-p {
  margin: 0px;
  color: black;
}

.pricing-container .container .s-main-p span {
  display: inline-block;
  margin-top: -15px;
  width: 41px;
  height: 2px;
  background-color: black;
}

.pricing-container .container .row:nth-child(4) {
  margin-top: 110px !important;
  width: 90%;
  margin: auto;
}

.pricing-container .container .row:nth-child(4) .card {
  height: 500px;
  border-radius: 0px;
  background-color: #ffffff;
}

.pricing-container .container .row:nth-child(4) .card .card-header {
  padding-top: 20px;
  background-color: #ffffff;
}

.pricing-container .container .row:nth-child(4) .card .upper-cbody {
  padding: 20px;
  height: 260px;
}

.pricing-container .container .row:nth-child(4) .card .btn-price {
  width: 125px;
  height: 40px;
  border-radius: 20px;
  background-color: #485563;
  color: #e8e8e8;
}

.pricing-container .container .row:nth-child(4) .card .btn-price:hover {
  color: #ffffff;
}

.pricing-container .container .row:nth-child(4) .card .best-price {
  padding-top: 60px;
  margin-top: -40px;
  margin-left: -1px;
  margin-right: -1px;
  height: 183.8px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 5px solid #29323c;
}

.contact-container {
  width: 100%;
  height: 650px;
}

.contact-container .container {
  width: 1300px;
  height: 100%;
  margin: auto;
}

.contact-container .container .col-md-6 {
  width: 100%;
  height: 650px;
}

.contact-container .container .form-contact {
  background-image: url("../../img/form-background.png");
  padding: 100px;
  color: #e8e8e8;
}

.contact-container .container .form-contact .col-sm-5 {
  padding-top: 10px;
}

.contact-container .container .form-contact .form-control {
  background-color: transparent;
  height: 48px;
}

.contact-container .container .form-contact textarea {
  height: 150px !important;
}

.contact-container .container .form-contact .row {
  margin-bottom: 20px;
}

.contact-container .container .form-contact .btn {
  width: 120px;
  border: 1px solid #e8e8e8;
  color: #e8e8e8;
  margin-right: 50px;
}

.footer-container {
  width: 100%;
  height: 127px;
  background-color: #f5f5f5;
}

.footer-container .container {
  width: 1300px;
  height: 100%;
  margin: auto;
  padding-top: 30px;
}

.footer-container .container h1 {
  margin-left: 70px;
  margin-top: -8px;
}

.footer-container .container .f-copyright {
  margin-top: 10px;
}

.footer-container .container p {
  text-align: right;
  padding-top: 10px;
}

.footer-container .container .col-md-6 {
  width: 100%;
  height: 100px;
}
/*# sourceMappingURL=main.css.map */